.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.container {
  max-width: var(--default-layout-max-width);
  width: 100%;
  padding: 0 19px;
  height: 100%;
  background-color: var(--primary);
}
