.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0 4px 5px -5px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.container {
  max-width: var(--default-layout-max-width);
  width: 100%;
  padding: 0 19px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin-left: -5rem;
  }
}

.nav {
  display: flex;
  position: relative;
  div {
    position: relative;
    left: -24px;
    top: -16px;
    background-color: #b6002c;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    padding: 4px;
    text-align: center;
  }
  .dropdown {
    position: absolute;
    top: 24px;
    z-index: 101;
    list-style: none;
    padding: 3rem 5rem 1rem;
    background-color: #fff;
    box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.23);
    li {
      cursor: pointer;
      font-size: 1.8rem;
      margin-bottom: 2.5rem;
      margin-left: -2rem;
      span {
        margin-right: 2rem;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navItem {
  font-size: 1.8rem;
  margin-right: 2.5rem;
  cursor: pointer;
  user-select: none;
}

.link {
  display: block;

  &:hover {
    text-decoration: underline;
  }
}

.navCart {
  margin-right: 1.5rem;
}

.navBars {
  display: none;
}

.mobileNavFull {
  display: none;
}

@media (max-width: 600px) {
  .container {
    .mobileDisplay {
      display: none;
    }
  }

  .navBars {
    display: inline-block;
  }

  .mobileNavFull {
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    svg {
      cursor: pointer;
      font-size: 2.3rem;
      position: absolute;
      top: 50px;
      right: 25px;
    }
    .mobileLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      a {
        font-size: 3rem;
      }
    }
  }

  .openFlex {
    display: flex !important;
  }

  .closeFlex {
    display: none;
  }
}
