@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Blinker&display=swap');

:root {
  --primary: #e9e9e9;

  // Default Layout
  --default-layout-header-height: 120px;
  --default-layout-max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Blinker', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-rendering: optimizeSpeed;
}

a {
  color: #000;
  text-decoration: none;
}
