.container {
  display: grid;
  gap: 1.3rem;
  grid-template-areas:
    'one two three'
    'one two three-low';
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50rem;
  margin-top: 1.3rem;
}

.gridOne {
  grid-area: one;
}

.gridTwo {
  grid-area: two;
}

.gridThree {
  grid-area: three;
}

.gridThreeLow {
  grid-area: three-low;
}

.item {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: {
    property: all;
    duration: 0.3s;
    timing-function: ease-in;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #fff;
  font-size: 3.8rem;
  font-weight: 600;
}

@media (max-width: 750px) {
  .container {
    display: grid;
    gap: 13px;
    grid-template-areas:
      'one two'
      'three three-low';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 500px;
  }
}
