.dataTable {
  padding: 4rem 2rem;
  .dataGrid {
    font-size: 1.7rem;
    font-family: 'Blinker', sans-serif;
    color: #000;
    .cellImg {
      display: flex;
      align-items: center;
      gap: 2rem;
      img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .cellStatus {
      padding: 1rem;
      border-radius: 1rem;
      width: 10rem;
      text-align: center;
    }
    .cellStatus.active {
      background-color: rgba(25, 135, 84, 0.2);
      color: rgb(25, 135, 84);
    }
    .cellStatus.inactive {
      background-color: rgba(255, 193, 7, 0.2);
      color: rgb(255, 193, 7);
    }
    .cellStatus.pending {
      background-color: rgba(182, 0, 44, 0.2);
      color: rgb(182, 0, 44);
    }
  }
}
